.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: baseline;
}

.item {
  flex: 1 1 calc(20% - 10px);
  align-items: center;
  justify-content: center;
  list-style: none;
  max-width: 300px;
}
